<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
     td,th {
  border: 1px solid black;
  padding: 5px;
}   
table{
    width: 100%;
}
</style>
<body>
    <table>
        <tr>
            <th id="sr">Sr No</th>
            <th id="id">ID NO</th>
            <th id="name">Name</th>
            <th id="area">Project Defination</th>
            <th id="area">Project Link</th>
            <th id="topic">Technology used in Project</th>
            <th id="know">contact</th>
            <th>Project Domain</th>
          </tr>


    <tr>
        <% var i =0 %>
        <% employeelist.forEach(datadetail =>{ %>
      <tr>
       <% ++i %>
       <th><%= i %></th>
       <th><%= datadetail.id %></th>
       <th><%= datadetail.Name %></th>
       <th><%= datadetail.speciality %></th>
       <th><%= datadetail.devlopment %></th>
       <th><%= datadetail.topics%></th>
       <th><%= datadetail.contact%></th>
       <th><%= datadetail.internship%></th>
       
    
   </tr>
       <%})%>
    </table>
</tr>
</body>
</html>